<!-- <nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">WebSiteName</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>                        
            </button>
        </div>

        <div class="collapse navbar-collapse" id="mNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Sales</a></li>
               

                <li><a href="#">Complain</a></li>
                <li><a href="#">Feedback</a></li>
                <li><a href=".footer">Contact Us</a></li>
             </ul>

             <form class="navbar-form navbar-right" action="/action_page.php">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search" name="search">
                  <div class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                      <i class="glyphicon glyphicon-search"></i>
                    </button>
                  </div>
                </div>
             </form>
        </div> 
    </div>
</nav> -->

    <div class="container-fluid" style="padding: 20px;">
        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="#" target="_blank">
                        <img src="assets/iphone.jpg" alt="iphone" style="height:250px;width:100%;">
                        <div class="caption" style="text-align:center">
                            <p>iphone</p>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="#" target="_blank">
                        <img src="/assets/laptop.jpg" alt="laptop" style="height:250px;width:100%;">
                        <div class="caption" style="text-align:center" >
                            <p>Mac book</p>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="#" target="_blank">
                        <img src="/assets/iwatch.jpg" alt="iwatch" style="height:250px;width:100%;">
                        <div class="caption" style="text-align:center">
                            <p>iwatch</p>
                        </div>
                    </a>
                </div>
            </div>      
        </div>
    </div>
<div class="footer">
  <p>
    contact us - 92113624t323   <a href="mailto:abs@12.com">abc@12.com</a>
  </p>
</div>
